.button {
  background: $blue;
  color: white;
  display: inline-block;
  padding: $s-size;
  line-height: 1;
  font-size: $font-size-large;
  font-weight: 300;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.button:hover {
  background: lighten($blue, 10%);
  box-shadow: 2px 2px 1px #33333365;
}

.button--link {
  background: none;
}

.button--link:hover {
  color: darken(white, 20%);
  background: lighten($dark-blue, 10%);
}

.button--secondary {
  background: #888888;
}

.button--secondary:hover {
  background: darken(#888888, 10%);
}